---
# Define the parameters to use in the Vagrantfile
#

# config.vm.box
vm_box: "centos/8"

# Profile (inventory)
profile: "single_iceberg"

# Name of the first management node in the inventory
# This node is used to deploy all the other nodes of the cluster
first_management_node: "management1"

# Provisioning script (config.vm.provision)
# This script executes on the first management node
boostrap_script: "bootstrap.sh"

# Path to the ISO to attach to the box
# os_iso: "~/Documents/Lab/CentOS-8.1.1911-x86_64-dvd1.iso"

# Libvirt's storage pool name
# Allow to use a dedicated pool to store the virtual disks
# storage_pool_name: "lab"

# Number of storage drives shared between management nodes
# mgmt_shared_drives: 6

# Size of the shared drives (in MB units)
# Require mgmt_shared_drives
# mgmt_drive_size: 1024
